.subContainer {
  height: 0;
  max-height: 10rem;
  overflow-y: auto;
  transition: all 200ms linear;
  background-color: #ddd;
  border-radius: 0.5rem;
  margin-inline: 2rem;

  .subContainer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #eeeeee;

    &:hover {
      .subContainer__right {
        visibility: visible;
      }
    }

    .subContainer__right {
      visibility: hidden;
      display: flex;
      justify-content: space-around;
      border-radius: 1.5rem;
      padding: 0.25rem;
      width: 5.5rem;
      background-color: rgba(255, 255, 255, 0.473);
    }
  }
}
