.payment {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 100vw;
  height: calc(100vh - 4.5rem);
  background-color: #eeeeee;

  .element {
    width: 40rem;
    background-color: white;
    height: fit-content;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;

    h3 {
      text-align: center;
      padding-bottom: 0.5rem;
    }

    p {
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 1rem;
      text-align: center;
      color: red;
      font-size: 0.7rem;
    }

    .details {
      div {
        display: flex;
        margin-bottom: 0.5rem;
        justify-content: space-between;
        font-size: 0.9rem;
      }
    }

    .coupon__message {
      text-align: center;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;

      &.success {
        background-color: #55efc4;
      }

      &.error {
        background-color: #ff7675;
      }
    }
    .lastMessage {
      text-align: center;
      margin-top: 0.75rem;
      font-size: 0.8rem;
    }
  }
}

.card__error {
  font-size: 0.7rem;
  color: red;
  margin-top: 0.5rem;
}
