.right__top {
  display: none;

  @media (max-width: 767px) {
    display: unset;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
  }

  button {
    padding: 0.25rem 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.option {
  display: flex;
  align-items: center;
  float: right;
  border: 1px solid #8167a9;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  color: #8167a9;
  margin: 0.75rem;
  cursor: pointer;
  transition: all 200ms linear;

  &:hover {
    background-color: #8167a9;
    color: white;
  }
}

.shop {
  display: flex;
  padding-bottom: 6rem;

  .shop__left {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: calc(100vh - 4.5rem);
    top: 4.5rem;
    padding: 1rem;
    background: #48546069;
    overflow: auto;

    @media (max-width: 768px) {
      height: calc(100vh - 4.5rem - 2.25rem);
    }

    @media (max-width: 767px) {
      display: none;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      top: 6.75rem;
      z-index: 1;
      background: #ddd;
    }

    .MuiTypography-root {
      font-size: 0.85rem;
    }

    .shop__filterHead {
      padding-bottom: 0.75rem;
      margin-bottom: 0.5rem;
      color: white;
      text-align: center;
      font-weight: 600;
      width: 100%;
      border-bottom: 1px solid #eeeeee;

      button {
        display: none;
        float: right;
        margin: 0;
        padding: 0.25rem 0.25rem 0.125rem 0.25rem;

        @media (max-width: 767px) {
          display: unset;
        }
      }
    }

    button {
      $button-bg: #8167a9;
      padding: 0.75rem 2rem;
      margin-bottom: 0.85rem;
      margin-top: 0.25rem;
      font-size: 0.8rem;
      font-weight: 600;
      display: inline-block;
      background-color: $button-bg;
      color: white;
      border-radius: 0.25rem;
      cursor: pointer;
      position: relative;
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba(#8167a9, 0.5);

      &:focus {
        outline: 0;
      }

      &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(#8167a9, 0.2);
      }
    }

    .shop__filterSlider {
      margin-top: 0.35rem;
      padding-inline: 1rem;
      height: 3.75rem;
      justify-content: flex-end;
    }

    .shop__filterRatings {
      display: flex;
      align-items: center;
      padding-block: 0.5rem;
    }

    .shop__filterSlider,
    .shop__filterCategory,
    .shop__filterRatings,
    .shop__filterShipping,
    .shop__filterColors {
      display: flex;
      flex-direction: column;
      border-radius: 0.25rem;
      margin: 0.5rem 1rem;
      background-color: #c8d6e5;
    }
  }

  .shop__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .right__bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    @media (max-width: 767px) {
      margin: 0;
    }

    .shop__warning {
      margin-top: 2.5rem;
      .warning {
        padding-inline: 2rem;
      }
    }
  }
}

.PrivateValueLabel-thumb-1.PrivateValueLabel-open-2
  .PrivateValueLabel-offset-3 {
  transform: scale(1) translateY(-4px) !important;
}

.MuiSlider-valueLabel {
  left: calc(-50% - 1.5px) !important;
}

.PrivateValueLabel-circle-4 {
  width: 28px !important;
  height: 28px !important;
}
