.csContainer {
  width: 100%;
  height: fit-content;

  &:focus > .csContainer__labelWrapper {
    border-bottom: 0.2rem solid #8167a9;
  }

  * {
    box-sizing: border-box;
  }

  .csContainer__labelWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    background-color: #d2dae2;
    border-radius: 0.125rem;
    font-size: 0.8rem;
    font-weight: 300;
    padding-left: 0.5rem;
    color: black;
    cursor: pointer;
  }

  .csContainer__labelRight {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: #8167a9;
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;

    .csContainer__icon {
      width: 70%;
      height: 80%;
    }
  }

  .csContainer__options {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 0.125rem;
    background-color: lighten(#485460, 2);
    max-height: 12rem;
    height: 0;
    overflow-y: auto;
    opacity: 0;
    transition: all 200ms linear;

    &.show {
      margin-top: 0.25rem;
      height: fit-content;
      opacity: 1;
    }

    .csContainer__option {
      border-radius: 0.125rem;
      padding: 0.35rem 0.5rem;
      font-size: 0.8rem;
      font-weight: 400;
      color: white;
      box-shadow: 0 -1px 0 darken(#485460, 5), inset 0 1px 0 lighten(#485460, 5);

      &:not(:last-child) {
        border-bottom: 0.125rem solid #485460;
      }

      &:hover {
        background-color: #8167a969;
        cursor: pointer;
      }

      &.selected {
        background-color: #8167a9;
      }
    }
  }
}
