.passwordContainer {
  display: flex;

  .passwordContainer__main {
    flex: 1;
    padding-block: 1rem;
    padding-inline: 1.5rem;

    h2 {
      padding-bottom: 1rem;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 1.25rem;
    }

    .passwordContainer__form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 4rem;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: fit-content;
        border-radius: 0.5rem;
        padding: 2rem;
        background-color: #eeeeee;

        label {
          font-size: 0.9rem;
          margin-bottom: 0.5rem;
          text-align: left;
          width: 100%;
        }

        input {
          width: 18rem;
          margin-bottom: 1.25rem;
          border: 1px solid #cccccc;
          border-radius: 0.35rem;
          padding: 0.5rem 0.65rem;
          font-size: 0.875rem;

          &:focus {
            outline: none;
          }
        }

        button {
          position: relative;
          display: block;
          padding-block: 0.5rem;
          padding-inline: 2.45rem;
          background-color: white;
          color: black;
          width: 8rem;
          cursor: pointer;
          font-size: 0.875rem;
          z-index: 1;
          border: 2px solid #353b48;
          transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

          &:before {
            display: block;
            position: absolute;
            content: "";
            top: 0px;
            right: 0px;
            height: 100%;
            width: 0px;
            z-index: -1;
            color: white !important;
            background: #353b48;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
          }

          &:enabled {
            &:hover {
              color: white !important;
              background-color: transparent;

              &:before {
                left: 0%;
                right: auto;
                width: 100%;
              }
            }
          }

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
