.navContainer {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 4.5rem;
  padding-inline: 2rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease-out;
  z-index: 3;

  @media (max-width: 768px) {
    margin-bottom: 2.25rem;
  }

  .navContainer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;

    .hamburger__container {
      display: none;
      margin-right: 1.25rem;
      height: 1.25rem;
      cursor: pointer;

      @media (max-width: 768px) {
        display: flex;
        align-items: center;
      }

      .hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input {
          display: none;

          &:checked + label {
            &::after {
              bottom: 0;
            }

            &::before {
              top: 0;
            }
          }
        }

        label {
          position: relative;
          display: block;
          width: 1.75rem;
          height: 0.125rem;
          background-color: #8167a9;

          &::after,
          &::before {
            position: absolute;
            content: "";
            width: 1.75rem;
            height: 0.125rem;
            background-color: #8167a9;
            transition: all 200ms linear;
            cursor: pointer;
          }

          &::after {
            bottom: 0.5rem;
          }

          &::before {
            top: 0.5rem;
          }
        }
      }
    }
  }

  .navContainer__logo {
    font-family: "Abril Fatface", cursive !important;
    text-decoration: none;
    color: #212112;
    font-size: 2.5rem !important;
  }

  .navContainer__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-inline: 1.25rem;
    padding-inline: 0.125rem;
    height: 100%;
    color: #212112;
    transition: all 200ms linear;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0.5rem;
      width: 100%;
      height: 0.125rem;
      transition: all 200ms linear;
    }

    &:hover {
      color: #8167a9 !important;

      &::after {
        bottom: 1.25rem;
        background-color: #8167a9;
      }
    }

    span {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  & .active {
    color: #777 !important;

    &::after {
      display: none;
    }

    &:hover {
      color: #777 !important;
    }
  }

  .navBar__search {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      position: absolute;
      left: 0;
      top: 3rem;
      z-index: -1;
      width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid #eee;
      background-color: white;
    }

    .form {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        width: 100%;
        padding-inline: 2rem;

        input {
          width: 100%;
        }

        .navContainer__search {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    .navBar__searchIcon {
      @media (min-width: 769px) {
        display: none;
      }

      @media (max-width: 768px) {
        display: unset;
      }
    }
  }

  .navContainer__left {
    display: flex;
    align-items: center;
    height: 100%;

    .navContainer__logo {
      font-family: "Fredericka the Great", cursive;
      font-weight: 600;
      font-size: 2rem;
    }
  }

  .navContainer__right {
    display: flex;
    align-items: center;
    height: 100%;

    .navContainer__options {
      position: relative;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      text-transform: capitalize;
      cursor: pointer;

      @media (max-width: 768px) {
        display: none;
      }

      span {
        padding-bottom: 1.5rem;
        margin-top: 1.5rem;
      }

      &:hover {
        .navContainer__selector {
          display: flex;
        }
      }

      .navContainer__selector {
        display: none;
        position: absolute;
        top: 4rem;
        flex-direction: column;
        left: 50%;
        width: fit-content;
        font-size: 0.85rem;
        transform: translateX(-50%);
        background-color: white;
        border: 2px solid #8167a9;
        border-radius: 0.25rem;
        padding-block: 0.5rem;
        z-index: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        .select_active {
          background-color: #8167a9;
          color: white;

          &:hover {
            background-color: #8167a9;
          }
        }
      }
    }

    .navContainer__cart {
      margin-left: 1rem;

      &.active {
        span {
          color: #777;
        }
      }

      span {
        color: #212112;
      }
    }

    .navContainer__opt {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      margin-inline: 0.5rem;
      text-decoration: none;
      color: #212112;
      border-radius: 0.25rem;
      transition: all 200ms ease-in;
      cursor: pointer;

      &:last-child {
        margin-top: 0.5rem;
      }

      &:hover {
        background-color: rgba(51, 51, 51, 0.151);
      }

      .navContainer__icon {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}

.MuiBadge-badge {
  background-color: #ff7675;
  color: white !important;
}
